[submodule "dependencies/webplatform-framework"]
	path = dependencies/webplatform-framework
	url = https://github.com/blackberry-webworks/webplatform-framework.git
[submodule "dependencies/test-server/public/lib/jasmine"]
	path = dependencies/test-server/public/lib/jasmine
	url = https://github.com/pivotal/jasmine.git
