.idea/*
node_modules/
ext/*/simulator/
ext/*/device/
build/.idea/*
solution/.idea/*
.project
.settings
*.DS_Store
tags
*.*~
*.swp
www/*
build_output/
pkg
target/
clientFiles/
ext/*/native/unitTests/build/*

