<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
		version="1.0.0"
        id="testBackgroundColor">
    <name>WW BackgroundColor</name>
    <content src="http://google.com"/>
    <author>
			Research In Motion Ltd.
	</author>
    <description>The example to test background color of child webview</description>
    <access uri="*"/>
    <feature id="blackberry.app">
        <param name="backgroundColor" value="0x000000" />
    </feature>
    <license href="http://www.apache.org/licenses/LICENSE-2.0">My License</license>
</widget>
